<%- include("../partials/head") %>

    <body>
        <h1>Tabel produk widias</h1>
        <!-- <a href="/admin/product">
            <button>semua</button>
        </a>
        <a href="/admin/product?filter=small">
            <button>small</button>
        </a>
        <a href="/admin/product?filter=medium">
            <button>medium</button>
        </a>
        <a href="/admin/product?filter=large">
            <button>large</button>
        </a> -->
        <table>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Size</th>
            <th>Picture</th>
            <th>Action</th>
            <% products.map((product)=> { %>
                <tr>
                    <td>
                        <%= product.id %>
                    </td>
                    <td>
                        <%= product.name %>
                    </td>
                    <td>
                        <%= product.price %>
                    </td>
                    <td>
                        <%= product.stock %>
                    </td>
                    <td>
                        <%= product.size %>
                    </td>
                    <td>
                        <img src="<%= product.imgUrl %>" alt="product image" style="width: 300px; height: 100px;">
                    </td>
                    <td>
                        <a href="/admin/product/edit/<%= product.id %>">
                            <button>Edit</button>
                        </a>
                        <a href="/products/delete/<%= product.id %>">
                            <button>Delete</button>
                        </a>
                    </td>
                </tr>
                <% }) %>
        </table>

        <a href="/admin/product/create">
            <button>create product baru</button>
        </a>
    </body>

    </html>